#  Local .terraform directories
**/.terraform/*

*.lock.hcl

# Testing assets with secrets
**/key_pair*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .envrc files
.envrc*.ps1

Gemfile.lock
.kitchen
